<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>

<body bgcolor="#f4f6f8">

<br><br>

<table align="center" width="80%" cellpadding="20" bgcolor="white">
    <tr>
        <td>

            <!-- Navigation -->
            <a href="/">Home</a> &nbsp;&nbsp;
            <a href="/about">About</a> &nbsp;&nbsp;
            <a href="/contact">Contact</a>

            <h1>About This Flask Application</h1>

            <p>
                This page is also being served from an HTML file in the
                <b>templates/</b> folder, just like the Home page.
            </p>

            <table width="100%" cellpadding="15" bgcolor="#eaf3ff">
                <tr>
                    <td>
                        <h3>What happens when you open /about?</h3>
                        <p>When you visit this URL, Flask:</p>

                        <ol>
                            <li>Receives your browser's request</li>
                            <li>Matches the URL to <b>@app.route('/about')</b></li>
                            <li>Calls the <b>about()</b> function</li>
                            <li>Loads <b>templates/about.html</b></li>
                            <li>Sends this HTML back to your browser</li>
                        </ol>
                    </td>
                </tr>
            </table>

            <h2>Purpose of This Page</h2>

            <ul>
                <li><b>Learning Flask Routing</b></li>
                <li><b>Understanding Templates</b></li>
                <li><b>Practicing Multiple Pages</b></li>
                <li><b>Building Web Apps with Python</b></li>
            </ul>

        </td>
    </tr>
</table>

</body>
</html>


            
           
